{% extends 'products/base.html'%} {% block content%}
<br />
<div class="container">
  <h3>TOTAL AMOUNT RECEIVED:  ₦{{total}}</h3>
  <h3>TOTAL CHANGE GIVEN:  ₦{{change}}</h3>
  <h3>NET AMOUNT:  ₦{{net}}</h3>
    <br />
  {% for sale in sales %}

  <div class="card">
    <h1 class="card-header">RECEIPT</h1>
    <div class="card-body">
      <h3 class="card-title">Customer : {{sale.issued_to | title}}</h3>
      <h6 class="card-text">Item : {{sale.item.item_name }}</h6>
      <h6 class="card-text">Amount Paid:  ₦{{ sale.amount_received }}</h6>
      <h6 class="card-text">Quantity: {{ sale.quantity }}</h6>
      <h2>Total Price :  ₦{{ sale.get_total }}</h2>
      <div style="flex: 1">
        <h6 class="card-text">Change Collected:  ₦{{ sale.get_change }}</h6>
        <a href="{% url 'update' sale.id %}">
          <input
            type="submit"
            value="Update"
            class="btn btn-danger"
            type="button"
          />
        </a>
           {% comment %} <form action="/delete/{{sale.id}}" method="POST">
                {% csrf_token %}<br>
                <input
                  type="submit"
                  value="Delete"
                  class="btn btn-danger"
                  type="button"
                />
              </form> {% endcomment %}
      </div>
    </div>
  </div>
  <br />

  {% endfor %}
</div>
{% endblock %}
